{% extends "adocato/base.html" %}
{%block title %}Gestão de Gatos{% endblock %}
{% block content %}

<div class="box">
    <h1 class="title">Administração de Gatos</h1>
    <form method="get" action="" class="mb-4">
        <div class="field is-grouped">
            <div class="control">
                <label class="label" for="nome">Filtrar por nome:</label>
            </div>
            <div class="control">
                <input class="input" type="text" id="nome" name="nome" value="{{ request.GET.nome }}">
            </div>
            <div class="control">
                <label class="label" for="nome">Filtrar por raça:</label>
            </div>
            <div class="control">
                <input class="input" type="text" id="raca" name="raca" value="{{ request.GET.raca }}">
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Filtrar</button>
            </div>
        </div>
    </form>
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Idade</th>
                    <th>Disponível</th>
                    {% if eh_coordenador %}
                        <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for gato in gatos %}
                <tr>
                    <td>
                        {% if gato.foto %}
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ gato.foto.url }}" />
                            </figure>
                        {%endif%}
                    </td>
                    <td>{{ gato.nome }}</td>
                    <td>{{ gato.raca }}</td>
                    <td>{{ gato.idade }}</td>
                    <td>{{ gato.esta_disponivel}}</td>
                     {% if eh_coordenador %}
                            <td>
                                <div class="buttons">
                                
                                        <a class="button is-info" href="{% url 'adocato:atualizar_gato' gato.id %}">Editar</a>
                                        {% if perms.adocato.pode_deletar_gato %}
                                            <a class="button is-danger" href="{% url 'adocato:excluir_gato' gato.id %}" onclick="return confirm('Tem certeza que deseja excluir este gato?');">Excluir</a>
                                        {% endif %}
                                </div>
                            </td>
                      {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum gato encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if eh_coordenador %}
       <div class="mt-4">
            <a href="{% url 'adocato:cadastrar_gato' %}" class="button is-primary">
                Cadastrar Novo Gato
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}