<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
    <section class="container">
        <h1 class="title">Enquete</h1>
        <form action="{% url 'enquete:votar' %}" >
            <h2 class="subtitle">{{pergunta}}</h1>
            <div class="field">
            {% for alternativa in alternativas %}
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="opcao" value="{{ forloop.counter }}">
                        {{alternativa}}
                    </label>
                </div>
            {% endfor %}
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Enviar Resposta</button>
                </div>
            </div>
    </form>
    </section>
    
</body>
</html>