<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Enquete</title>
  
</head>
<body>
    <h1 style="text-align: center;">Resultado da Enquete - {{pergunta}}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Opção</th>
                <th>Votos</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de linha, substitua pelos dados dinâmicos -->
            
            {% for alternativa,voto in resultado %}
            
            <tr>
                <td>{{alternativa}}</td>
                <td>{{voto}}</td>
            </tr>

            {% endfor %}

            
        </tbody>
    </table>
</body>
</html></html>