{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">Lista de Raças</h1>

<form method="get" class="field is-grouped mb-5">
    <div class="control">
        <label for="raca" class="label">Filtrar por raça:</label>
        <input class="input" type="text" name="raca" id="raca" value="{{ request.GET.raca }}">
    </div>
    <div class="control" style="align-self: flex-end;">
        <button class="button is-link" type="submit">Filtrar</button>
    </div>
</form>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Nome da Raça</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for raca in racas %}
                <tr>
                    <td>{{ raca.nome }}</td>
                    <td>{{ raca.descricao }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhuma raça encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}